body {
    font-family: 'Open Sans', sans;
    font-size: 16px;
    text-align: center;
    color: #333;
}

.content {
    margin: 0 auto;
    max-width: 660px;
    text-align: left;
}

header {
    text-align: center;
}

header > h1 {
    font-weight: 800;
    font-size: 72px;
    letter-spacing: -4px;
}

header > h1 > span {
    font-weight: 300;
}

h1, h2, h3 {
    color: #444;
}

h2, h3 {
    letter-spacing: -1px;
}
