<!doctype html>
<html>
    <head>
        <title>Defensive.NET - Defensive Programming for .NET</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700,800">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <div class="content">
            <header>
                <h1>Defensive<span>.NET</span></h1>
            </header>
            <div class="main">
                {{ content }}
            </div>
        </div>
    </body>
</html>
